/* Загальні стилі */
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url("../images/background.jpg"); */
  background-color: var(--color-6);
  color: var(--color-5);
  line-height: 1.6;
}
.app-container {
  display: flex;
  flex-direction: column; /* Встановлюємо вертикальне вирівнювання */
  min-height: 100vh; /* Мінімальна висота - 100% висоти вікна */
}

.main-content {
  flex: 1; /* Основний контент займає все доступне місце */
}

/* Заголовок */
header {
  border-radius: 10px;
  background-color: var(--color-4);
  color: var(--color-5);
  padding: 10px 20px; /* Змінено для відступу по боках */
  display: flex; /* Використовуємо flexbox для вирівнювання елементів */
  align-items: center; /* Вирівнюємо елементи по вертикалі */
  justify-content: space-between; /* Простір між логотипом і посиланнями */
}

.logo-container {
  margin-bottom: 0; /* Видаляємо зайвий відступ знизу */
}

.logo {
  width: 150px; /* Зменшено розмір логотипу */
  height: auto;
  display: block;
  margin: 0; /* Вирівнювання по лівому краю */
}

nav {
  ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Більший проміжок між посиланнями */
    margin: 0; /* Видаляємо відступи списку */
  }

  a {
    text-decoration: none;
    color: var(--color-6);
    font-size: 1.5rem; /* Збільшуємо розмір шрифту для посилань */
    font-weight: bold; /* Додаємо жирний текст для виділення */
    
    &:hover {
      color: var(--color-3); /* Зміна кольору при наведенні */
    }
  }
}

/* Основний контейнер */
.container {
  padding: 20px;
}

/* Блоки контенту */
.content-block {
  margin-bottom: 30px;
}

.content-block h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--color-1);
}

.content-block p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* Заклик до дії (CTA) */
.cta {
  text-align: center;
  padding: 20px;
  background-color: var(--color-4);
  margin-bottom: 30px;
  border-radius: 10px;
}

.cta h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: var(--color-2);
}

.cta button {
  background-color: var(--color-1);
  color: var(--color-6);
  padding: 15px 30px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

button {
  background-color: var(--color-1);
  color: var(--color-2);
  padding: 15px 30px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

footer a {
  color: var(--color-1);
  text-decoration: none;
}

/* Кольорові змінні */
:root {
  --color-1: #eb634c; /* Рожевий */
  --color-2: #dc6c53; /* Помаранчевий */
  --color-3: #771c0d; /* Темно-коричневий */
  --color-4: #a58a7a; /* Бежевий */
  --color-5: #ccbca4; /* Світло-бежевий */
  --color-6: #4b3c35; /* Темно-коричневий */
}
